A.header {
    height: 60px;
    background: aqua;
}
.main-content-wrapper {
}
.MuiButton-containedPrimary {
    color: #fff;
    background-color: #5bb53f!important;
}
.sidebar {
    width: 15%;
    background:hotpink;
    display: inline-block;
    min-height: 500px;
}
.main-content {
  width: 85%;
  display: inline-block;
  background: coral;
  min-height: 500px;

}
.footer {
    height: 100px;
    background: gray;
}
.sidebar-toggle img {
    width: 25px;
    padding: 10px;

}
.hidden {
    
    display: none;
}


@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
    .main-content {
        width: 100%;
    }
}

